<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <gazebo>
        <plugin
          name="gz_ros2_control::GazeboSimROS2ControlPlugin"
          filename="libgz_ros2_control-system">
          <parameters>$(find ros2_swervebot_sim_base)/config/controller_config.yaml</parameters>  
        </plugin>
    </gazebo>

    <ros2_control name="GazeboSimSystem" type="system">
        
        <hardware>
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>

        <joint name="front_left_wheel_joint">
            <command_interface name="velocity">
              <param name="min">-100</param>
              <param name="max">100</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="front_left_swerve_joint">
            <command_interface name="velocity">
              <param name="min">-100</param>
              <param name="max">100</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="front_right_wheel_joint">
            <command_interface name="velocity">
              <param name="min">-100</param>
              <param name="max">100</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="front_right_swerve_joint">
            <command_interface name="velocity">
              <param name="min">-100</param>
              <param name="max">100</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="rear_left_wheel_joint">
            <command_interface name="velocity">
              <param name="min">-100</param>
              <param name="max">100</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="rear_left_swerve_joint">
            <command_interface name="velocity">
              <param name="min">-100</param>
              <param name="max">100</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="rear_right_wheel_joint">
            <command_interface name="velocity">
              <param name="min">-100</param>
              <param name="max">100</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="rear_right_swerve_joint">
            <command_interface name="velocity">
              <param name="min">-100</param>
              <param name="max">100</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    
    </ros2_control>

</robot>